<%- include ('components/header') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col span-1-of-2">
                <h1>Wholesome Freshness in Every Drop of Milk</h1>
                <p class="text-large">Your trusted online dairy source</p>
                <ul class="bullets">
                    <li>Organically Produced</li>
                    <li>A to Z Dairy Products</li>
                    <li>Quality Assurance</li>
                </ul>
                <div class="buttons">
                    <a href="#" class="btn cta">Shop Now</a>
                    <a href="#" class="btn">Learn More</a>
                </div>
            </div>
            <div class="col span-1-of-2">
                <div class="image-wrapper">
                    <img src="#" alt="Dairy Products">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span-1-of-2 col">
                <h2>It's the Way Dairy Should Be</h2>
                <p>
                    We set ourselves a high bar to use old world methods and well-treated animals to craft fresh, organic dairy products We create.
                </p>
                <div class="buttons">
                    <a href="#" class="btn">Explore</a>
                </div>
            </div>
            <div class="span-1-of-2 col">
                <div class="image-wrapper">
                    <!-- Collage -->
                    <img src="#" alt="Dairy Products">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col span-1-of-5">
                <div class="banner-flex">
                    <div class="highlight-text">10</div>
                    <div class="highlight-description">Years of Experience</div>
                </div>
            </div>
            <div class="col span-1-of-5">
                <div class="banner-flex">
                    <div class="highlight-text">20+</div>
                    <div class="highlight-description">Dairy Products</div>
                </div>
            </div>
            <div class="col span-1-of-5">
                <div class="banner-flex">
                    <div class="highlight-text">50+</div>
                    <div class="highlight-description">Customers Everyday</div>
                </div>
            </div>
            <div class="col span-1-of-5">
                <div class="banner-flex">
                    <div class="highlight-text">99%</div>
                    <div class="highlight-description">Customer Satisfaction</div>
                </div>
            </div>
            <div class="col span-1-of-5">
                <div class="banner-flex">
                    <div class="highlight-text">20+</div>
                    <div class="highlight-description">Dairy Products</div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col span-1-of-2">
                <div class="image-wrapper">
                    <img src="#" alt="Milk">
                </div>
            </div>
            <div class="col span-1-of-2">
                <h2>Right Choice for Your Nutrition Needs</h2>
                <p>We create exceptional dairy products using the best of nature </p>
                <div class="stats">
                    <div class="stat">
                        <div class="stat-title">Calories</div>
                        <div class="stat-text">210</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Total Fat</div>
                        <div class="stat-text">6%</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Calcium</div>
                        <div class="stat-text">20%</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Proteins</div>
                        <div class="stat-text">1g</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col span-1-of-1">
                <div class="flex-row">
                    <h2>Best Sellers</h2>
                    <a href="#" class="btn">Visit Shop</a>
                </div>
            </div>
            <div class="col span-1-of-1">
                <div class="row">
                    <div class="col span-1-of-5">
                        <div class="product-wrapper">
                            <div class="product-overlay"></div>
                            <img src="#" alt="Product" class="product">
                        </div>
                        <div class="caption-wrapper">
                            <div class="caption-title">
                                240gm
                            </div>
                            <h3 class="caption">
                                Sliced Cheese
                            </h3>
                            <div class="stars">
                                <div class="star-full star"></div>
                                <div class="star-half star"></div>
                                <div class="star-empty star"></div>
                            </div>
                            <div class="price">$ 2700</div>
                        </div>
                        <div class="extras-wrapper">
                            <div class="icon">
                                <!-- Plus -->
                            </div>
                            <a href="#" class="btn">Details</a>
                        </div>
                    </div>
                    <div class="col span-1-of-5">
                        <div class="product-wrapper">
                            <div class="product-overlay"></div>
                            <img src="#" alt="Product" class="product">
                        </div>
                        <div class="caption-wrapper">
                            <div class="caption-title">
                                240gm
                            </div>
                            <h3 class="caption">
                                Sliced Cheese
                            </h3>
                            <div class="stars">
                                <div class="star-full star"></div>
                                <div class="star-half star"></div>
                                <div class="star-empty star"></div>
                            </div>
                            <div class="price">$ 2700</div>
                        </div>
                        <div class="extras-wrapper">
                            <div class="icon">
                                <!-- Plus -->
                            </div>
                            <a href="#" class="btn">Details</a>
                        </div>
                    </div>
                    <div class="col span-1-of-5">
                        <div class="product-wrapper">
                            <div class="product-overlay"></div>
                            <img src="#" alt="Product" class="product">
                        </div>
                        <div class="caption-wrapper">
                            <div class="caption-title">
                                240gm
                            </div>
                            <h3 class="caption">
                                Sliced Cheese
                            </h3>
                            <div class="stars">
                                <div class="star-full star"></div>
                                <div class="star-half star"></div>
                                <div class="star-empty star"></div>
                            </div>
                            <div class="price">$ 2700</div>
                        </div>
                        <div class="extras-wrapper">
                            <div class="icon">
                                <!-- Plus -->
                            </div>
                            <a href="#" class="btn">Details</a>
                        </div>
                    </div>
                    <div class="col span-1-of-5">
                        <div class="product-wrapper">
                            <div class="product-overlay"></div>
                            <img src="#" alt="Product" class="product">
                        </div>
                        <div class="caption-wrapper">
                            <div class="caption-title">
                                240gm
                            </div>
                            <h3 class="caption">
                                Sliced Cheese
                            </h3>
                            <div class="stars">
                                <div class="star-full star"></div>
                                <div class="star-half star"></div>
                                <div class="star-empty star"></div>
                            </div>
                            <div class="price">$ 2700</div>
                        </div>
                        <div class="extras-wrapper">
                            <div class="icon">
                                <!-- Plus -->
                            </div>
                            <a href="#" class="btn">Details</a>
                        </div>
                    </div>
                    <div class="col span-1-of-5">
                        <div class="product-wrapper">
                            <div class="product-overlay"></div>
                            <img src="#" alt="Product" class="product">
                        </div>
                        <div class="caption-wrapper">
                            <div class="caption-title">
                                240gm
                            </div>
                            <h3 class="caption">
                                Sliced Cheese
                            </h3>
                            <div class="stars">
                                <div class="star-full star"></div>
                                <div class="star-half star"></div>
                                <div class="star-empty star"></div>
                            </div>
                            <div class="price">$ 2700</div>
                        </div>
                        <div class="extras-wrapper">
                            <div class="icon">
                                <!-- Plus -->
                            </div>
                            <a href="#" class="btn">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="branding">
    <div class="container">
        <div class="row">
            <div class="col span-1-of-2">
                <p>Buy 3 packs of 1000ml Pasteurized milk &</p>
                <h2>Get Free Delivery!</h2>
                <div class="buttons">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="col span-1-of-2">
                <div class="image-wrapper">
                    <img src="#" alt="Product">
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ('components/footer') %>